* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.section--text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
}
.section--text h2 {
  font-size: 2rem;
}
